<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/9dfa6c6e5c.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>taskr | Login</title>
</head>
<body>
<div style="margin-top: 30px; display: flex; align-self: center; align-content: center; justify-content: center;">
    <div class="card" style="width: 30rem;">
        <img alt="Card image cap" class="card-img-top" src="https://miro.medium.com/max/4000/1*8ygFKYb0Yo6Hc-vnScGA9A.png">
        <div class="card-body">
            <div style="display: flex; align-content: center; justify-content: center;">
                <div class="alert alert-info" role="alert"
                     style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
                    <h3>Welcome to taskr.</h3>
                </div>
            </div>
            <div style="display: flex; align-content: center; justify-content: center;">
                <div class="post-body">
                    <form class="left" method="get" style="margin-left: auto; margin-right: 5px;"
                          th:action="@{/saml/login}">
                        <input class="btn btn-primary" type="submit" value="Login with SSO"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>